body {
  margin: 0;
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1;
  height: 100%;
}
